/* src/AdminDashboard.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  width: 220px; /* Width of the sidebar */
  overflow-y: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  position: relative; /* Changed from fixed to relative */
}

.sidebar .nav-link {
  display: block;
  padding: 15px;
  font-size: 1.5rem; /* Big font size */
  color: #000;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.sidebar .nav-link.active-tab {
  background-color: #007bff;
  color: #fff;
}

.sidebar .nav-link:hover {
  background-color: #e0f7fa; /* Azure blue color on hover */
  color: #007bff;
}

.content-area {
  margin-left: 220px; /* Adjust this value according to sidebar width */
  padding: 20px;
}

.content-area h3 {
  margin-top: 20px;
}
